# vim: set ft=zsh

alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ll -a'
alias grep='grep --color=auto --exclude-dir=.cvs --exclude-dir=.git --exclude-dir=.hg --exclude-dir=.svn'
alias tree='tree -C'
alias vi='nvim'
alias vim='nvim'
alias s='sudo'
# alias fuck='eval "sudo $(fc -ln -1)"'
alias se='sudoedit'
alias pac='pacaur'
alias open='xdg-open'
alias wget='wget -c'
alias lynx='lynx -lss=~/.lynx.lss'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias info='info --vi-keys'      # GNU info act like man command
alias emacs='emacs -nw'          # cli mode
alias diffdb='meld <(sort csv_results/local.csv) <(sort csv_results/edge.csv)'
alias cdtmp='cd $(mktemp -d)'
alias tmux='tmux -2'
alias raliases='source ~/.aliases'
alias rm='rm -rf'

alias dad="curl -k https://icanhazdadjoke.com/ && echo"

# Global aliases are a zsh-specific feature
if [ -n "$ZSH_VERSION" ]; then
	alias -g G='| grep'
	alias -g L='| less'
	alias -g H='| head'
	alias -g T='| tail'

	alias -g KLM='-keep_local_mapping'
	alias -g AA='-additional_arguments'
	alias -g D='--display --debug --debugger'
	alias -g S='--engine=slimerjs'
	alias -g P='--run_in_parallel'
fi

function mkcd() { mkdir -p "$@" && cd "$_"; }
function yadm_update() { yadm commit -am "Updated dotfiles $(date +'%Y-%m-%d %H:%M %Z')" && yadm push; }

eval $(thefuck --alias)

# ptpython -> bpython -> ipython -> python
if [ "$DEFAULT_PYTHON_VERSION" -eq "3" ]; then
	if type ptpython > /dev/null; then
		alias py='ptpython'
	else
		if type bpython3 > /dev/null; then
			alias py='bpython3'
		else
			if type ipython3 > /dev/null; then
				alias py='ipython3'
			else
				alias py='python3'
			fi
		fi
	fi
else
	if type ptpython2 > /dev/null; then
		alias py='ptpython2'
	else
		if type bpython > /dev/null; then
			alias py='bpython'
		else
			if type ipython > /dev/null; then
				alias py='ipython'
			else
				alias py='python2'
			fi
		fi
	fi
fi
