# vim: set ft=zsh

alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ll -a'
alias grep='grep --color=auto --exclude-dir=.cvs --exclude-dir=.git --exclude-dir=.hg --exclude-dir=.svn'
alias tree='tree -C'
alias vi='nvim'
alias vim='nvim'
alias s='sudo'
alias fuck='eval "sudo $(fc -ln -1)"'
alias se='sudoedit'
alias pac='pacaur'
alias open='xdg-open'
alias wget='wget -c'
alias lynx='lynx -lss=~/.lynx.lss'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias info='info --vi-keys'      # GNU info act like man command
alias emacs='emacs -nw'          # cli mode
alias diffdb='meld <(sort csv_results/local.csv) <(sort csv_results/edge.csv)'
alias py='ptpython2'
alias cdtmp='cd $(mktemp -d)'
alias tmux='tmux -2'
alias raliases='source ~/.aliases'
alias rm='rm -rf'

alias dad="curl -k https://icanhazdadjoke.com/ && echo"

# Global aliases are a zsh-specific feature
if [ -n "$ZSH_VERSION" ]; then
	alias -g G='| grep'
	alias -g L='| less'
	alias -g H='| head'
	alias -g T='| tail'

	alias -g KLM='-keep_local_mapping'
	alias -g AA='-additional_arguments'
	alias -g D='--display --debug --debugger'
	alias -g S='--engine=slimerjs'
	alias -g P='--run_in_parallel'
fi

function mkcd() { mkdir -p "$@" && cd "$_"; }

function test_cap () { cap download "$@" && cd "$_" && jq '.["'$_'"]' ~/all_metadata.json > metadata.json && cap run -cdp && cap run -p KLM AA D --autodate --metadata metadata.json; };

function agjs() { ag -r -C 20 -i "$@" ~/dev/yoshi_parsers/download/ --js; }
function agpy() { ag -r -C 20 -i "$@" ~/dev/yoshi_parsers/cpy_processing/ --py; }
