[core]
	pager = delta

[pager]
	diff = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    light = false
	# syntax-theme = gruvbox-dark
	syntax-theme = tokyonight_night

[diff]
    colorMoved = default

[merge]
	tool = nvim
    conflictstyle = diff3

[mergetool]
	prompt = false
    keepBackup = false

[mergetool "nvim"]
    ; cmd = "nvim -d \"$MERGED\" \"$REMOTE\" \"$LOCAL\"  -c 'wincmd J' -c 'resize +15' -c 'norm ]c'" -c 'silent! /^\\s*[<=>|]\\{7\\}\\(\\s.*\\)\\?$'
    cmd = "nvim -c 'DiffviewOpen' -c 'silent! /^\\s*[<=>|]\\{7\\}\\(\\s.*\\)\\?$'"

[log]
    decorate = short
    abbrevCommit = true
    date = human

[include]
    path = .gitconfig.local
[pull]
	rebase = true
