[core]
	pager = delta

[pager]
	diff = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    light = false
	syntax-theme = gruvbox-dark

[diff]
    colorMoved = default

[merge]
	tool = nvim
    conflictstyle = diff3

[mergetool]
	prompt = false
    keepBackup = false

[mergetool "nvim"]
    cmd = "nvim -d \"$MERGED\" \"$REMOTE\" \"$LOCAL\"  -c 'wincmd J' -c 'resize +15' -c 'norm ]c'" -c 'silent! /[<=>|]\\{7\\}'

[credential "https://dev.azure.com"]
	useHttpPath = true

[log]
    decorate = short
    abbrevCommit = true
    date = human

[include]
    path = .gitconfig.local
