! Perl extensions
URxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed

! disable ctrl-shift
URxvt*iso14755_52: false
URxvt*iso14755: false

! Normal Copy/paste
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt*internalBorder: 0

! Icon
! URxvt.iconFile: /usr/share/icons/gnome/256x256/apps/gnome-terminal.png
 
! Font
URxvt*letterSpace: -1

Xft*antialias:  true
Xft*hinting:    true
Xft*rgba:       rgb
Xft*autohint:   false
Xft*hintstyle:  hintfull
Xft*lcdfilter:  lcddefault

! Increase/decrease font size
URxvt.keysym.C-S-plus: resize-font:bigger
URxvt.keysym.C-KP_Add: resize-font:bigger
URxvt.keysym.C-S-underscore: resize-font:smaller
URxvt.keysym.C-KP_Subtract:  resize-font:smaller
URxvt.keysym.C-0:    resize-font:reset
URxvt.keysym.C-KP_0: resize-font:reset

! Scrollbar
URxvt.scrollBar: False

! Colors
! special
URxvt.foreground:   #c5c8c6
URxvt.background:   #1d1f21
URxvt.cursorColor:  #c5c8c6

! black
URxvt.color0:       #282a2e
URxvt.color8:       #373b41

! red
URxvt.color1:       #a54242
URxvt.color9:       #cc6666

! green
URxvt.color2:       #8c9440
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #de935f
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #5f819d
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #85678f
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #5e8d87
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #707880
URxvt.color15:      #c5c8c6

#include ".Xresources_local"
