layout {
    cwd "/Users/artur/dev/"

    swap_tiled_layout name="code" {
        tab {
            pane split_direction="vertical" {
                pane split_direction="horizontal" size="80%" {
                    pane 
                    pane size=5
                }
                pane stacked=true {
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
    }

    default_tab_template name="ui_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab_template name="code_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane split_direction="vertical" name="0" {
            pane split_direction="horizontal" size="80%" name="00" {
                pane name="editor" focus=true edit="."
                pane name="git" size=5
            }

            pane stacked=true {
                pane name="tests"
            }
        }

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    code_tab name="Hub" cwd="hub" focus=true
    code_tab name="Drivers" cwd="drivers"

    code_tab name="Platform" cwd="platform-go"
    code_tab name="Internal Services" cwd="internal-services"

    code_tab name="tron" cwd="tron"
}
